html{
  background: #f5ffcf;
}

.carousel-container {
  width: 100%;
  overflow: hidden;
  background-color: rgb(39, 209, 39);
  padding: 20px 0;
  margin-top: 10px;
  border-radius: 13px;

}
.card {
  flex: 0 0 auto;
  width: 100px;
  height: 100px;
  background: #040c38;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffff;
  font-weight: bold;
  border-radius: 20px;
  margin: 0 10px;
}

.carousel_track {
  display: flex;
  width: max-content;
  animation: scroll 10s linear infinite;
}

.text {
  display: flex;
  width: 100%;
  overflow: hidden;
  background-color: rgb(39, 209, 39);
  padding: 20px 0;
  margin-top: 10px;
  font-size: 20px;
  width: max-content;
  animation: scroll 40s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
